<div>
  <h2>
    Mi Lista de Tareas
  </h2>
</div>

<div>

  <!-- Campos del Formulario -->
  <div class="mt-2 mb-2">
    <h4>
      Formulario
    </h4>
  </div>

  <!-- Conjunto de Inputs y el Botón para crear tareas -->
  <div class="input-group">
    <!-- Input para el mensaje de la nueva tarea -->
    <label for="mensaje">Mensaje:</label>
    <input class="form-control" name="mensaje" type="text" [(ngModel)]="mensaje" />

    <!-- Input para la Fecha de la nueva tarea -->
    <label for="fecha"></label>
    <input class="form-control" name="fecha" type="date" [(ngModel)]="fecha" />

    <!-- Input para Grado Importancia de la nueva tarea -->
    <label for="grado"></label>
    <input class="form-control" name="grado" type="number" max="4" min="0" [(ngModel)]="gradoImportancia" />

    <!-- Botón para crear la tarea -->
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="crearTarea()">
        Crear Tarea
      </button>
    </div>
  </div>

  <!-- Lista de Tareas Pendientes -->
  <div class="mt-2 mb-2">
    <h4>
      Pendant tasks
    </h4>
  </div>

  <!-- Listado de Tareas a través de un bucle FOR que itera
  sobre todos los elementos que hay en la lista de tareas
  y crea un TodoComponent por cada uno de ellos.
  ---------------------------------------------------------------
    *ngFor -> Es la directiva Estructural que nos permite pintar
      varias veces un mismo elemento a la que iteramos una lista de elementos
  ---------------------------------------------------------------
  * tareas -> Lista de Tareas en el Componente iterada con el bucle for
  * let tarea -> Variable local creada bajo el ámbito del bucle for
  * [tarea] -> el @Input del componente <app-Todo>
  -->
  <div class="list-group">
    <app-todo class='list-group-item'  *ngFor="let tarea of tareas" (borrarTareaHijo)="borrarTareaPadre($event)" [tarea]="tarea">
    </app-todo>
      </div>

  <!-- Lista de Tareas completadas -->
  <div class="mt-2 mb-2">
    <h4>
      Completed tasks
    </h4>
  </div>
  <div class="list-group">
    <app-todo class='list-group-item' *ngFor="let tarea of tareasCompletadas" [tarea]="tarea">
    </app-todo>
      </div>
